.orgchart table{ border-collapse:collapse; padding:0; margin:0; top:0; background:#FFFFE8; width:100%}
.orgchart td{ vertical-align:top; text-align:center }
.orgchart th{ height:20px; }
.orgchart td .right{ border-right:1px solid #000; }
.orgchart td .top{   border-top:1px solid #000;  }
.orgchart .width-50{   width:50%  }
.orgchart .charttext{min-width:120px; border:1px solid #000; margin-left:5px;padding:2px; background:lightblue; display:inline-block;font-size:12px;}
.orgchart .charttext:hover{ background:#FFFF98; padding:2px;   font-weight:700;    }
.orgchart .solo {display:inline-block;margin:0px;padding:0px;width:50%;border:0px;border-right:1px solid #000;background:none;font-size:12px;} 
